In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = r'./data_samples/'
data = 'sp500_tick_compact.csv'

In [3]:
# 틱바
prices = pd.read_csv(data_path+data)
tick_bars = pd.Series(data = prices['price'].values, index = prices['date_time'].values)
prices.head()

             date_time  price  volume
0  2009-09-28 09:30:00  50.79   100.0
1  2009-09-28 09:30:00  50.71   638.0
2  2009-09-28 09:31:32  50.75   100.0
3  2009-09-28 09:31:33  50.75   100.0
4  2009-09-28 09:31:50  50.75   300.0

In [4]:
# 거래량바
volume_bars = prices[prices.volume > 100]
volume_bars = pd.Series(data = volume_bars['price'].values, index = volume_bars['date_time'].values)
volume_bars.head()

2009-09-28 09:30:00    50.71
2009-09-28 09:31:50    50.75
2009-09-28 09:31:51    50.75
2009-09-28 09:32:06    50.78
2009-09-28 09:32:06    50.78
dtype: float64

In [5]:
# 달러바
dollar_bars = pd.DataFrame(columns =['date_time', 'price'])
dollar_bars['date_time'] = prices['date_time'].values
dollar_bars['price']     = prices['price'].values * prices['volume'].values
dollar_bars = pd.Series(data = dollar_bars['price'].values, index = dollar_bars['date_time'].values)
dollar_bars.head()

2009-09-28 09:30:00     5079.00
2009-09-28 09:30:00    32352.98
2009-09-28 09:31:32     5075.00
2009-09-28 09:31:33     5075.00
2009-09-28 09:31:50    15225.00
dtype: float64

In [11]:
# 불균형 바
t = prices.index.searchsorted(prices.index)
a = prices.copy()
vol = prices.loc[t[1:]]['price'].values - prices.loc[t[:-1]]['price'].values
vol = np.abs(vol)/vol
vol = np.nan_to_num(np.insert(vol, 0, 0), nan = 0.0) #* prices.loc[t]['volume']
a['vol'] = vol
a.head()
print(t[len(t)-1])

1914881

c:\python37\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """

In [7]:
exp = a['price'].ewm(span = 100)

In [8]:
exp.mean().values

array([ 50.79      ,  50.7496    ,  50.74973601, ..., 109.99783868,
       110.00052108, 110.00348106])

In [9]:
res = np.array([])
print(res)

[]

In [ ]:
for i in t :
    res = np.insert(res, i, vol[:i+1].sum())
print(res)

In [ ]:
a = prices.shape()

In [10]:
a['vol'][a['vol'] == 1].sum()

742086.0